* {
    primary: #80d4dcFF;
    primary-fixed: #9df0f8FF;
    primary-fixed-dim: #80d4dcFF;
    on-primary: #00363aFF;
    on-primary-fixed: #002022FF;
    on-primary-fixed-variant: #004f54FF;
    primary-container: #004f54B3;
    on-primary-container: #9df0f8FF;
    secondary: #b1cbceFF;
    secondary-fixed: #cce8eaFF;
    secondary-fixed-dim: #b1cbceFF;
    on-secondary: #1b3437FF;
    on-secondary-fixed: #051f21FF;
    on-secondary-fixed-variant: #324b4dFF;
    secondary-container: #324b4dB3;
    on-secondary-container: #cce8eaFF;
    tertiary: #0e141580;
    tertiary-fixed: #d7e2ffFF;
    tertiary-fixed-dim: #b7c7eaFF;
    on-tertiary: #21304cFF;
    on-tertiary-fixed: #0a1b36FF;
    on-tertiary-fixed-variant: #384764FF;
    tertiary-container: #384764B3;
    on-tertiary-container: #d7e2ffFF;
    error: #ffb4abFF;
    on-error: #690005FF;
    error-container: #93000aB3;
    on-error-container: #ffdad6FF;
    surface: #0e141580;
    on-surface: #dee4e4FF;
    on-surface-variant: #bec8c9FF;
    outline: #899393FF;
    outline-variant: #3f4849FF;
    shadow: #00000066;
    scrim: #00000080;
    inverse-surface: #dee4e4FF;
    inverse-on-surface: #2b3232FF;
    inverse-primary: #006970FF;
    surface-dim: #0e141580;
    surface-bright: #343a3bCC;
    surface-container-lowest: #090f1066;
    surface-container-low: #161d1d80;
    surface-container: #1a212199;
    surface-container-high: #252b2cB3;
    surface-container-highest: #303636BF;
}
